<div class="container">

  <div class="content">
    <h3>Conoce Nuestros Talentos Mensuales</h3>
    <div class="hr">  
      <hr style="border:none; border-top: 1px solid white; width: 100%; margin: auto; height: 15px; opacity: 1; ">
    </div>
    <p class="subtitulo">Estos son los mejores proyectos de la comunidad</p>
  </div>

  <div class="carousel">
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="card">
          <img src="../../../../assets/Img/gatito.jpg" class="card-img-top" alt="gatitox">
          <div class="card-body">
            <h5 class="card-title">Nombre Proyecto</h5>
            <p class="card-subtitle mb-1 ">Nombre Desarrollador</p>
            <a href="#" class="card-link"><i class="fa fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="../../../../assets/Img/gatito1.jpg" class="card-img-top" alt="gatitox">
          <div class="card-body">
            <h5 class="card-title">Nombre Proyecto</h5>
            <p class="card-subtitle mb-1 ">Nombre Desarrollador</p>
            <a href="#" class="card-link"><i class="fa fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="../../../../assets/Img/gatito2.jpg" class="card-img-top" alt="gatitox">
          <div class="card-body">
            <h5 class="card-title">Nombre Proyecto</h5>
            <p class="card-subtitle mb-1 ">Nombre Desarrollador</p>
            <a href="#" class="card-link"><i class="fa fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/Img/gatito3.jpg" class="card-img-top" alt="gatitox">
          <div class="card-body">
            <h5 class="card-title">Nombre Proyecto</h5>
            <p class="card-subtitle mb-1 ">Nombre Desarrollador</p>
            <a href="#" class="card-link"><i class="fa fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="../../../../assets/Img/gatito4.jpg" class="card-img-top" alt="gatitox">
          <div class="card-body">
            <h5 class="card-title">Nombre Proyecto</h5>
            <p class="card-subtitle mb-1 ">Nombre Desarrollador</p>
            <a href="#" class="card-link"><i class="fa fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="../../../../assets/Img/gatito5.jpg" class="card-img-top" alt="gatitox">
          <div class="card-body">
            <h5 class="card-title">Nombre Proyecto</h5>
            <p class="card-subtitle mb-1 t">Nombre Desarrollador</p>
            <a href="#" class="card-link"><i class="fa fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
