<main class="container-fluid">
  <div class="row d-flex align-items-start flex-wrap">
    <section class="col-xxl-6">
      <div class="flag-container">
        <img src="../../../../assets/about-flag.svg" alt="Bandera Negra Sobre Nuestros Proyectos">
        <h2>Nuestros Proyectos</h2>
      </div>
    </section>
  </div>
  <div class="proyectos">
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">tito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/img/gatito1.jpg" class="card-img-top" alt="gatitox">
      <div class="card-body">
        <h5 class="card-title">Nombre Proyecto</h5>
        <h6 class="card-title mb-2 ">Descripcion del proyecto cortita y al pie</h6>
        <h6 class="card-titlee mb-2 ">Nombres de los desarrolladores porfavor cortito y al pie</h6>
        <a href="#" class="card-link"><i class="fa fa-github"></i></a>
        <a href="#" class="card-link"><i class="fas fa-desktop"></i></a>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
