<div class="row containercolor">
  <section class="row">
    <div class="cards-container row">
      <div class="title-container col-12">
        <h2>
          ACTIVIDADES
        </h2>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card1">
          <div class="row">
            <div class="col-12">
              <!-- max 18 characters -->
              <h3>
                Nos cagamos a palo
              </h3>
            </div>
            <div class="col-12">
              <!-- max 20 characters -->
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iure expedita consectetur vel deserunt
                necessitatibus nam magni maiores ratione architecto!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12 ">
        <div class="card2">
          <div class="row">
            <div class="col-12">
              <h3>
                Nos amigamos
              </h3>
            </div>
            <div class="col-12">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iure expedita consectetur vel deserunt
                necessitatibus nam magni maiores ratione architecto!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-12">
        <div class="card3">
          <div class="row">
            <div class="col-12">
              <h3>
                Nos queremos
              </h3>
            </div>
            <div class="col-12">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iure expedita consectetur vel deserunt
                necessitatibus nam magni maiores ratione architecto!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="triangle-topleft">
  </div>
</div>
