<main class="container-fluid">
    <div class="row d-flex align-items-start flex-wrap">
        <section class="col-xxl-6">
          <div class="flag-container">
              <img src="../../../../assets/Img/about-flag.svg" alt="Bandera Negra Sobre Nosotros">
              <h2>Sobre Nosotros</h2>
          </div>
          <p>La historia escrita de lo que es la Argentina, comenzó con los registros del cronista alemán Ulrico Schmidl en la expedición de Juan Díaz de Solís en 1516 al Río de la Plata, hecho que anticipa la dominación española que se impondría en parte de esta región.</p>
        </section>
        <section class="col-xxl-6 p-0 text-center">
          <iframe class="discord-frame" src="https://discord.com/widget?id=913054176383225896&theme=dark" allowtransparency="true" frameborder="0" 
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </section>
    </div>
</main>
