h2{
    font-size: 2.9rem;
    font-family: 'Bebas Neue';
    color: white;
    text-align: justify;
    align-items: left;
    margin-left: 60px;
}

.box {
    background-color: #6204AC;
    padding: 80px 80px 40px;
}


h3 {
  font-family: var(--font-bebas);
  color: var(--color-terciario);
  text-align: left;
  font-size: 2.9rem;
  line-height: 35pt;
  margin: 0;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 1em;
}


.who2 {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 1.9rem;
    text-align: left;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    letter-spacing: 1pt;
    line-height: 25pt;
}


.contenedor {
    background-color: #131313;
    opacity: 70%;
    display: flex;
    border-radius: 40px;
    align-items: center;
    z-index: 12;
}

/* IMPORTANTE */
/* en pantallas mas chicas ajustar el maximo de caracteres */

.llaves {
    display: flex;
    padding: 10px;

}

@media screen and (max-width:800px)  {
    .who2 {
        font-size: 1.6rem;
        letter-spacing: 0.5pt;
        line-height: 20pt;
    }
    h2{
        margin-left: 10px;
    }
}

@media screen and (max-width:600px) {
    .who2 {
        letter-spacing: 0.3pt;
        text-align: center;
        font-size: 1.3rem;
        padding: 10px 5px;
        letter-spacing: 0.2pt;
        line-height: 15pt;
    }

.llaves {
  display: flex;
  padding: 10px;
  width: 50px;
}
}
@media screen and (max-width:440px) {
  .who2 {
      letter-spacing: 0.3pt;
      text-align: center;
      font-size: 1rem;
      padding: 5px 2px;
      letter-spacing: 0.2pt;
      line-height: 15pt;
  }
  .box {
    background-color: #6204AC;
    padding: 40px 40px 20px;
}

.llaves {
display: flex;
padding: 10px;
width: 60px;
}
}

@media screen and (max-width:960px)  {
  h3{
    font-size: 2.1rem;
  }
  .who2 {
    letter-spacing: 0.3pt;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 5px;
    letter-spacing: 0.2pt;
    line-height: 15pt;
}

.llaves {
display: flex;
padding: 10px;
width: 60px;
}

}
