<div class="container-fluid box d-flex justify-content-center">
    <div>
        <div class="who1">
            <h3> ¿Quienes somos? </h3>
        </div>
        <div>
            <div class="justify-content-between contenedor">
                <div>
                    <img class="llaves" src="../../../../assets/llave-izq.png">
                </div>
                <div>

                    <p class="who2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempora autem</p>
                </div>

                <div>
                    <img class="llaves" src="../../../../assets/llave-der.png">
                </div>
            </div>
        </div>
    </div>
</div>
