<div class="container-fluid">
    <div class="bander">
        <div class="contenedor">
            <div >
                <img class="bandera" src="../../../../assets/Img/Rectangle_24.png"/>
                <div class="centrado">¿SOS RECRUITER? TIRANOS UNA MONEDA</div>
            </div>
        </div>
    </div>
    <div>
        <img class="imagen" src="../../../../assets/Img/tenor.png" />
        <button class="btn btn-primary boton" (click)="irPortalTalentos()">Ver Integrantes</button>
    </div>
</div>
